!!! 5
%html
%head
  %title Workout Log
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = csrf_meta_tags

%body
  .navbar.navbar-default
    .container
      .navbar-header
        = link_to "WORKOUT LOG", root_path, class: "navbar-brand"
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "Add Workout", new_workout_path

  .container
    = yield

  = javascript_include_tag 'application', 'data-turbolinks-track' => true
